SIMFIMENT_ADDR=:8080
SIMFIMENT_DATA_DIR=./data
SIMFIMENT_BASE_URL=http://localhost:8080
SIMFIMENT_LOG_LEVEL=info
SIMFIMENT_SECURE_COOKIES=false
SIMFIMENT_SESSION_DAYS=30
SIMFIMENT_DEVELOPMENT=true
SIMFIMENT_ARGON2_MEMORY_KIB=19456
SIMFIMENT_ARGON2_ITERATIONS=2
SIMFIMENT_ARGON2_PARALLELISM=1

